{
    "presets": ["es2015", "stage-1", "react"],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        },
        "production": {
            "compact": true
        }
    },
    "plugins": ["transform-object-assign"]
}
