
/*Account-Detail-Dept*/
.ckDetail-deptfilter{ display: inline-block; margin-right: 10px; margin-left: 136px;}
.ant-table-body{ font-size: 14px;}
.ant-pagination{ margin-top: 10px; }
.ant-noneWe .ant-table th{ font-weight: normal;}
.ckDetil-depttable table  th{ font-weight: normal; background: none;}
/*Account-List-Dept*/
.cklist-deptfilter{display: inline-block; margin-right: 10px; margin-left: 35px;}
.cklist-depChange{display: inline-block; margin-right: 10px;}
/*Account-List-Person*/
.cklist-Persontfilter{display: inline-block; margin-right: 10px; }
.cklist-PersonChange{display: inline-block; margin-right: 10px; }
.cklist-Persondaoru{display: inline-block; margin-right: 10px;}



