
/*Account-Detail-Dept*/
.ckDetail-deptfilter{ display: inline-block; margin-right: 10px; margin-left: 136px;}
.ant-table-body{ font-size: 14px;}
.ant-pagination{ margin-top: 10px; }
.ant-noneWe .ant-table th{ font-weight: normal;}
.ckDetil-depttable table  th{ font-weight: normal; background: none;}
/*Account-List-Dept*/
.cklist-deptfilter{display: inline-block; margin-right: 10px; margin-left: 35px;}
.cklist-depChange{display: inline-block; margin-right: 10px;}
/*Account-List-Person*/
.cklist-Persontfilter{display: inline-block; margin-right: 10px; }
.cklist-PersonChange{display: inline-block; margin-right: 10px; }
.cklist-Persondaoru{display: inline-block; margin-right: 10px;}
/*客户列表导入*/
.account-import{ line-height: 25px;}
.account-import{ padding: 0px 45px;}
.ant-modal-content .ant-modal-header{ background:#ccf1f1;}
.ant-modal-content .ant-modal-header .ant-modal-title{ font-size: 18px;  font-weight: normal;}

/*筛选*/
.QueryDataTable-formFooter{ margin-top: 10px; margin-bottom: 10px; margin-left: 350px;}
.QueryDataTable-formbtn{ margin-right: 10px; display: inline-block;}


.ant-table-nonebtn01  .ant-form-item{margin-bottom: 0px;}




