.CustomizableSettingBg{
	position:absolute;
	background:rgba(0,0,0,0.2);
	top:350px;
	left:0;

	.CustomizableSetting{
		width:450px;
		.CustomizableSettingHead{
			width:450px;
			text-align:center;
			height:30px;
			border-bottom:1px solid #999;
			.settingClose{
				float:right;
			}

		}
		.divTab{
			width:300px;
			height:50px;
			text-align:center;
			list-style:none;
			padding:0;
			margin:0 auto;
			li{
				width:150px;
				height:50px;
				float:left;
			}
			.current{
				color:blue;
			}
		}
		.editColumnInfor{
			width:450px;
			height:20px;
			border-bottom:1px solid #999;
			list-style:none;
			padding:0;
			margin:0 auto;

			li{
				width:150px;
				height:20px;
				float:left;
				text-align:left;
			}
		}
		.editColumnsHead{
			width:450px;
			height:40px;
			list-style:none;
			padding:0;
			margin:0 auto;
			.optionInfor{
				width:250px;
				height:40px;
				float:left;
				text-align:center;
				line-height:40px;

			}
			.status{
				width:100px;
				height:40px;
				float:left;
				text-align:center;
				line-height:40px;

			}
			.operation{
				width:100px;
				height:40px;
				float:left;
				text-align:center;
				line-height:40px;
			}

		}
		.editColumnsCon{
			width:450px;
			height:40px;
			list-style:none;
			padding:0;
			margin:0 auto;
			li{
				width:450px;
				height:40px;
				line-height:40px;
				.optionInforInput{
					width:250px;
					height:40px;
					float:left;
					text-align:center;
					line-height:40px;
				}
				.operationBtn{
					width:100px;
					height:40px;
					float:left;
					text-align:center;
					line-height:40px;

				}
				.statusSelect{
					width:100px;
					height:40px;
					float:left;
					text-align:center;
					line-height:40px;
				}
			}
		}


	}
}