/**
 * Created by ytm on 16/4/14.
 */
.ck-control-group {
	position: relative;
    margin-bottom: 1em;
}
.ck-control-group input,  
.ck-control-group textarea,
.ck-control-group .select-result{
	position: relative;
    padding: 7px 9px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #e3e3e3;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
    vertical-align: middle;
    outline: 0;
    margin-right: 10px;
}
.ck-control-group .select-result{
    height: 34px;
    min-width:200px; 
}
ck-control-select
.ck-control-group textarea{
    vertical-align: top;
}

.error {
    display: none;
    padding: 0.4em 0.6em;
    background-color: #fff;
    border: solid 1px #ccc;
    position: absolute;
    bottom: 100%;
    border-radius: 5px;
    left: 0;
    width: 220px;
    margin: 0 0 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #CA3C3C;
    border-color: #CA3C3C;
    z-index: 4;
    background: #ffffff;
}

.error:after,
.error:before{
 	top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #ccc;
    border-width: 10px;
    margin-left: -10px;
    border-top-color: #CA3C3C;
}
.error:after{
   border-width: 9px;
   border-top-color: #fff;
   margin-left: -9px;
}

.isShow .error{ 
    display: block;
}
.isShow input {
    border-color: #CA3C3C;
}

.ck-control-box {
    position: relative;
}
.ck-control-box input, 
.ck-control-box textarea{
    position: relative;
     z-index: 3
}
.placeholder {
    color:#CCC; 
    position: absolute; 
    left:10px; top:8px; 
    font-size: 12px;  
    z-index: 2}
.show-placeholder {
    display: none;
}

.ck-control-select {cursor:pointer;}
.select-options-wrap { display: none; min-width: 200px; position: absolute; top:34px; padding-top: 10px; border:1px solid #dfdfdf; padding: 4px;}
.show-options-wrap {display: block;}

.select-options-wrap li {padding: 8px}
.select-options-wrap li:hover {background-color: #eee;}
.search {font-size: 12px; font-style: normal;}
.select-result-item { display: inline-block; padding-right: 20px;}
.select-result-item:hover {
    color:#CA3C3C;
}
.select-result-item:after {
    position: absolute;
    content: '\D7';
    font-weight: bold;
    color: #ddd;
}
.select-result-item:hover:after {
    color:#CA3C3C;
}