<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div className="dataTable">
    <div>
        <button>高级搜索</button>
        <button>确定</button>
    </div>
    <div >
        <div className="dataTable-title">
            <div className="dataTable-title-row">
                <div className="dataTable-title-cell">1</div>
                <div className="dataTable-title-cell">1</div>
                <div className="dataTable-title-cell">1</div>
                <div className="dataTable-title-cell">1</div>
            </div>
        </div>
        <div className="dataTable-searchBar"></div>
        <div className="dataTable-body">
            <div className="dataTable-body-row">
                <div className="dataTable-body-tr">
                    <div className="dataTable-body-td">1</div>
                    <div className="dataTable-body-td">1</div>
                    <div className="dataTable-body-td">1</div>
                    <div className="dataTable-body-td">1</div>
                </div>
                <div className="dataTable-body-row-detail"></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>