<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .dataTable-body-td, .dataTable-title-cell{
            display: inline-block;
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis; /* 文本溢出部分显示为点... */
            white-space: nowrap; /* 文本超出宽度不做换行处理 */
        }

        .dataTable-body-row-detail{
            height: 0;
            transition: height 0.2s ease;
        }
    </style>
</head>
<body>
<div class="dataTable">
    <div>
        <button>高级搜索</button>
        <button>确定</button>
    </div>
    <div >
        <div class="dataTable-title">
            <div class="dataTable-title-row">
                <div class="dataTable-title-cell">1</div>
                <div class="dataTable-title-cell">1</div>
                <div class="dataTable-title-cell">1</div>
                <div class="dataTable-title-cell">1</div>
            </div>
        </div>
        <div class="dataTable-searchBar"></div>
        <div class="dataTable-body">
            <div class="dataTable-body-row">
                <div class="dataTable-body-tr">
                    <div class="dataTable-body-td">1</div>
                    <div class="dataTable-body-td">1</div>
                    <div class="dataTable-body-td">1</div>
                    <div class="dataTable-body-td">1</div>
                </div>
                <div class="dataTable-body-row-detail"></div>
            </div>

        </div>
    </div>
</div>




<div class="w820">
    <div class="dataTable">

        <div class="dataTable-title">
            <table >
                <thead>
                <tr>
                    <th><input type="checkbox"/></th>
                    <th></th>
                    <th>客户名称</th>
                    <th>生意数量</th>
                    <th>预计销售金额</th>
                    <th>成交金额</th>
                    <th>回款金额</th>
                    <th>负责人</th>
                    <th>客户规模</th>
                    <th>客户级别</th>
                    <th>所属地区</th>
                    <th>客户来源</th>
                    <th>公司地址</th>
                    <th>公司电话</th>
                    <th>客户公司网址</th>
                    <th>所属行业</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>


                </tbody>
            </table>
        </div>
        <div class="dataTable-baseTable">
            <table >
                <tbody>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>
                        <div class="date-Sltround-add"></div>
                    </td>
                    <td class="dateTable-juleft">用友超客网络科技有限公司</td>
                    <td>2</td>
                    <td>23,000</td>
                    <td>23,000</td>
                    <td>23,000</td>
                    <td>王小强</td>
                    <td>大型客户</td>
                    <td>一级代理商</td>
                    <td>华南区</td>
                    <td>陌生拜访</td>
                    <td class="dateTable-juleft">北京市昌平区未来科技城8栋8808</td>
                    <td>010-62342345</td>
                    <td>http://dongying.com</td>
                    <td>机械行业</td>
                    <td>2016.1.28</td>

                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>
                        <div class="date-Sltround-cut"></div>
                    </td>
                    <td class="dateTable-juleft">用友超客网络科技有限公司</td>
                    <td>2</td>
                    <td>23,000</td>
                    <td>23,000</td>
                    <td>23,000</td>
                    <td>王小强</td>
                    <td>大型客户</td>
                    <td>一级代理商</td>
                    <td>华南区</td>
                    <td>陌生拜访</td>
                    <td class="dateTable-juleft">北京市昌平区未来科技城8栋8808</td>
                    <td>010-62342345</td>
                    <td>http://dongying.com</td>
                    <td>机械行业</td>
                    <td>2016.1.28</td>

                </tr>

                </tbody>

            </table>
        </div>
        <div class="dataTable-subBaseTable">
            <table >
                <thead>
                <tr>
                    <th>客户名称</th>
                    <th>生意名称</th>
                    <th>生意阶段</th>
                    <th>负责人</th>
                    <th>建立日期</th>
                    <th>发现日期</th>
                    <th>预计成交日期</th>
                    <th>预计销售金额</th>
                    <th>回款日期</th>


                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="dateTable-juleft">北京有限公司</td>
                    <td>采购项目</td>
                    <td>谈判阶段</td>
                    <td>王小强</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>203,000</td>
                    <td>2016.1.28</td>


                </tr>
                <tr>
                    <td class="dateTable-juleft">北京有限公司</td>
                    <td>采购项目</td>
                    <td>谈判阶段</td>
                    <td>王小强</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>203,000</td>
                    <td>2016.1.28</td>


                </tr>
                <tr>
                    <td class="dateTable-juleft">北京有限公司</td>
                    <td>采购项目</td>
                    <td>谈判阶段</td>
                    <td>王小强</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>203,000</td>
                    <td>2016.1.28</td>


                </tr>
                <tr>
                    <td class="dateTable-juleft">北京有限公司</td>
                    <td>采购项目</td>
                    <td>谈判阶段</td>
                    <td>王小强</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>203,000</td>
                    <td>2016.1.28</td>


                </tr>
                <tr>
                    <td class="dateTable-juleft">北京有限公司</td>
                    <td>采购项目</td>
                    <td>谈判阶段</td>
                    <td>王小强</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>203,000</td>
                    <td>2016.1.28</td>


                </tr>
                <tr>
                    <td class="dateTable-juleft">北京有限公司</td>
                    <td>采购项目</td>
                    <td>谈判阶段</td>
                    <td>王小强</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>2016.1.28</td>
                    <td>203,000</td>
                    <td>2016.1.28</td>

                </tr>
                </tbody>
            </table>

        </div>


    </div>

</div>
</body>
</html>