<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .dataTable-body-td, .dataTable-title-cell{
            display: inline-block;
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis; /* 文本溢出部分显示为点... */
            white-space: nowrap; /* 文本超出宽度不做换行处理 */
        }

        .dataTable-body-row-detail{
            height: 0;
            transition: height 0.2s ease;
        }
    </style>
</head>
<body>
<div class="dataTable">
    <div>
        <button>高级搜索</button>
        <button>确定</button>
    </div>
    <div >
        <div class="dataTable-title">
            <div class="dataTable-title-row">
                <div class="dataTable-title-cell">1</div>
                <div class="dataTable-title-cell">1</div>
                <div class="dataTable-title-cell">1</div>
                <div class="dataTable-title-cell">1</div>
            </div>
        </div>
        <div class="dataTable-searchBar"></div>
        <div class="dataTable-body">
            <div class="dataTable-body-row">
                <div class="dataTable-body-tr">
                    <div class="dataTable-body-td">1</div>
                    <div class="dataTable-body-td">1</div>
                    <div class="dataTable-body-td">1</div>
                    <div class="dataTable-body-td">1</div>
                </div>
                <div class="dataTable-body-row-detail"></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>